*{margin: 10px; padding: 5;background-color: cornflowerblue;}
header{background-color: aquamarine;text-align: center;}
aside{border: rgb(240, 13, 13); color: blue; border-style: double;object-position: right;}